= simple_form_for :message, url: [:reply, conversation] do |f|
  / = f.input :subject
  = f.input :body, label: "Intervioni", required: false, as: :text, :input_html => { :rows => 2, class: "span6" }
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = submit_tag 'Annulla', type: :reset, class: 'btn btn-danger'
