.dove_siamo.wrapper
  .map-container
    #map-home
  %br
  %address
    %h2 Crocevia snc
    %p
      via Santa Croce 11/abcdef
      %br
      40121 Bologna
      %br
      %span
        %i.icon-phone-sign
        051 64.90.677
      %br
      %span
        %i.icon-envelope
        = mail_to "mercatino@crocevia-santacroce.com"
  