= content_for :left_col do
  &nbsp

.span12  
  .hero-unit
    %h1 
      il mercato
      %br
      dell'usato 
      %br 
      in centro 
      %br
      a Bologna
      %small con parcheggio privato
    %br  
    %p.lead
      Porta in conto vendita quello che non usi: l'esposizione è gratuita e alla vendita ricevi un rimborso, in contanti, dal 50 al 65% del prezzo.
      %a.btn.btn-danger{ href: "https://maps.google.com/maps?q=via+santa+croce+bologna" }
        %i.icon-truck
        Mappa
    %p
      Siamo a tua disposizione per valutare gratuitamente mobili e oggetti ingombranti a domicilio.
      %a.btn.btn-primary{ href: "tel:+390516490677" }
        %i.icon-phone
        051 64.90.677

  