.container
  .regolamento.well
    %h2 Regole per il venditore
    %ol
      %li
        CROCEVIA mercato dell'usato svolge un' attività di intermediazione nella compravendita fra privati.
      %li
        Per poter vendere occorre essere identificati tramite documento valido e registrati alla prima accettazione di merce e ad ogni scadenza del documento.
      %li
        La tessera rilasciata al venditore è necessaria per mettere in vendita la merce nel nostro mercato ed ha funzione di riconoscimento di proprietà della stessa. La tessera andrà esibita al momento della riscossione dei crediti.
      %li Le spese di smontaggio e trasporto degli articoli da esporre al mercato sono a carico del venditore.
      %li
        Gli oggetti in vendita saranno esposti gratuitamente per 
        %strong 60 giorni al prezzo concordato.
      %li
        %strong Allo scadere dei primi 60 giorni, il prezzo della merce sarà automaticamente scontato del 50%.
      %li
        %strong Il venditore rimane proprietario della merce presente sulla sua lista di carico per 90 giorni.
        Durante questo periodo di tempo il venditore ha la possibilità di poter riprendere possesso in qualsiasi momento degli oggetti lasciati in conto vendita presso il mercato Crocevia di Via Santa Croce.
      %li
        %strong Trascorsi 90 giorni di deposito della merce, il venditore perde ogni diritto sulla merce se è rimasta invenduta e mai ritirata personalmente.
      %li
        %strong A discrezione del Mercato Crocevia, la merce scaduta da più di 90 giorni verrà smaltita, donata in beneficenza oppure venduta a miglior prezzo di realizzo.
      %li
        Il ricavato della vendita della merce sarà a disposizione del venditore dal
        %strong 1° giorno lavorativo del mese successivo a quello di vendita e per 12 mesi
        , trascorsi i quali il rimborso non sarà più possibile e senza che il venditore abbia più nulla a pretendere.
      %li
        %strong È compito del venditore informarsi sul venduto e sulle scadenze della propria merce.
      %li
        È anche compito del venditore ritirare la merce qualora non voglia farla scadere o lasciarla andare in beneficenza. In tal caso dovrà essere lo stesso venditore ad essere capace di reperire la propria merce all'interno del mercatino.
      %li
        La riscossione del ricavato dovrà essere effettuata dal venditore stesso o da un suo incaricato munito di delega e fotocopia del documento del venditore.
      %li
        %strong Si accettano in vendita solo oggetti funzionanti, in buono stato di conservazione e puliti.
      %li
        Gli articoli di elettronica, informatica, elettrodomestici e tutto ciò che non può essere testato a fondo per comprovarne il perfetto funzionamento, vengono venduti con una settimana di garanzia.
      %li
        Qualora non constatato al momento dell'accettazione,
        %strong gli oggetti guasti, resi o fallati verranno in un secondo momento rimossi dalla vendita e tenuti in giacenza per 30 giorni in zona accettazione. Sarà compito del venditore informarsi dello stato dei suoi resi e richiederne il possesso. Eventuali spese di trasporto saranno a suo carico.
      %li
        %strong Trascorsi 30 giorni di giacenza gli oggetti resi e non reclamati dal legittimo proprietario verranno smaltiti oppure donati in beneficenza senza alcun preavviso.
      %li
        La valutazione di mobili, arredamenti completi e articoli di grandi dimensioni o difficili da trasportare può essere effettuata gratuitamente a domicilio previo accordo con i titolari del mercato o per mezzo di fotografie.
      %li
        Il venditore solleva da qualunque responsabilità il mercato e i suoi titolari in caso di furto, incendio, danneggiamenti parziali o totali per cause dolose o accidentali o colpose anche da parte di terzi agli articoli lasciati in deposito nei locali del mercato.
      %li
        %strong La provvigione trattenuta dal mercatino sul prezzo di vendita di tutti gli articoli è pari al 50%, tranne per i mobili di valore superiore ai 200 euro, che sarà del 35%.
  

    
    %h2
      Regole per l'acquirente
    %ol
      %li
        All'acquirente può essere richiesta l'identificazione tramite presentazione di un documento e la registrazione con tesseramento come tutela contro l'incauto acquisto.
      %li
        Le spese di trasporto e montaggio degli articoli acquistati sono a carico dell'acquirente.
      %li
        Gli articoli possono essere riservati dietro versamento di una caparra pari ad almeno il 30% del prezzo di vendita e per un tempo non superiore ai 7 giorni, termine dopo il quale l'acquirente perde la caparra e l'oggetto può essere rimesso in vendita.
  
      %li
        Garanzia: gli articoli elettrici ed elettronici acquistati che una volta messi in funzione presentino evidenti difetti, rotture, malfunzionamenti non dichiarati dal venditore, possono essere cambiati
        %strong entro e non oltre una settimana
        portando come prova d'acquisto, l'etichetta adesiva originale con prezzo e codice.

 
      
    