= content_for :left_col do
  &nbsp

.span12
  .hero-unit
    %h1= sexize_string("Benvenuto, ", "Benvenuta, ", current_user.name.split(" ")[0]) + current_user.name
    %p
      ti ringraziamo per esserti iscritto.
      %br
      Al momento non ci sono servizi disponibili
  