= content_for :left_col do
  &nbsp

.span12
  .hero-unit
    %h1= "Benvenuto " + current_user.name
    %p
      ti ringraziamo per esserti iscritto.
      %br
      Al momento non ci sono servizi disponibili
  