%li.span2.photo
  
  = link_to image_tag(photo.photo_url(:thumb)), photo.photo_url(:large), "data-no-turbolink" => true, rel: "gallery", download: photo.default_name if photo.photo?
  / .name= photo.default_name if photo
  .actions
    = link_to "modifica", edit_photo_path(photo)
    |
    = link_to "elimina", photo, :method => :delete
