= content_for :left_col, class: "falsa-colonna" do
  &nbsp
  
%section.carica_foto

  %h1 Foto
  %ul#foto_caricate.thumbnails{ data: { toggle: "modal-gallery", target: "#modal-gallery", "no-turbolink" => true } }
    = render @photos