.row
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-user
          Clienti
        %li
          = link_to new_cliente_url do
            %i.icon-plus
            Nuovo
        %li
          = link_to clienti_url do
            %i.icon-user
            tutti    
  
  .span9
    %h1 Clienti
    %br
    %table.table
      - for cliente in @clienti do
        = render cliente
    = paginate @clienti

