$("span.help-inline.error-inline").remove();

<%- if @movimento.errors.empty? %>
  $(".movimenti.da-registrare").prepend("<%= escape_javascript(render @movimento) %>");
  $(".cassa-result").replaceWith("<%= escape_javascript( render partial: 'cassa/cassa_result', locals: { movimenti: @movimento.user.movimenti.attivo } ) %>");
  $("form#new_movimento").get(0).reset();
  $("input#movimento_articolo_id").focus();
<% else %>
  $("input#movimento_articolo_id").select();
  $("form#new_movimento .input-append").after("<span class='error-inline help-inline'><%= @movimento.errors.values.join %></span>"); 
<% end %>
