// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.regolamento {
  

    
  padding: 20px;
  font-size: 1.2em;
  text-shadow: rgba(255, 255, 255, 0.597656) 0px 1px 0px;
  h2 {
    text-align: center;  
    padding-bottom: 10px;
    
    font-size: 1.3em;
    font-weight: 500;
    color: #333;
    line-height: 20px;
    border-bottom: 1px solid #E2E2E2;
    -webkit-box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 white;
    -webkit-text-shadow: 0 1px 0 rgba(255,255,255,.6);
    -moz-text-shadow: 0 1px 0 rgba(255,255,255,.6);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    
    
  }
  
  ol {
    margin-top: 10px;
  }
  li {
    
    font-size: 14px;
    color: #666666;
    
    text-align: justify;  
    padding-bottom: 10px;
    
  }
}
  
