// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.staff,
.regolamento {
  font-family: "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  color: #333333;  
  h2 {
    font-size: 24px;
    text-align: center;
    padding: 0 0 20px;
    font-weight: 500;
    -webkit-text-shadow: 0 1px 0 rgba(255,255,255,.6);
    -moz-text-shadow: 0 1px 0 rgba(255,255,255,.6);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
  }
  h3 {
    color: #008DBF;
    font-size: 20px;
    margin: 0 0 10px 0;
  }
  p {
    font-family: inherit;
    font-size: inherit;
    font-color: inherit;
    line-height: 24px;
    margin: 0 0 10px 0;
  }
  ol {
    margin-top: 10px;
  }
  li {
    line-height: 24px;
    // font-size: 14px;
    // color: #666666;
    font-size: inherit;
    font-color: inherit;
    text-align: justify;  
    padding-bottom: 10px;
    
  }
}

.member {
  margin: 0 0 30px 0;
  img {
    border: 1px solid #6CC1DF;
    padding: 5px;
    background: white; 
    float: left;
    display: inline;
    margin: 0 15px 0 0;
  }
}

