%thead.articoli
  %tr
    %th.codice
      = sort_link @q, :id, "codice"
    %th.articolo
      = sort_link @q, :nome, "articolo"
    %th.quantita
      quantita
    %th.prezzo
      = sort_link @q, :prezzo, "prezzo"
    %th.provvigione
      provv.
    / %th.created_at
    /   = sort_link @q, :created_at, "caricato il"
    / %th.venditore
    /   = sort_link @q, :cliente_nome, "cliente"