.row
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-user
          Articoli
          
        %li
          = link_to articoli_url do
            %i.icon-user
            Articoli    
  
  .span9
    %h1 Articoli
    %table.table
      - for articolo in @articoli do
        = render articolo
    = paginate @articoli
