// Place all the styles related to the articoli controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #new_articolo {
//   // @include clearfix();
//   padding: 4px 8px;
//   border: 1px solid #BDBDBD;
// }

a.show-hide {
  &:before {
    content: "nascondi"
  }
  &.collapsed:before {
    content: "mostra"
  }
}

.btn-articolo {
  display: inline;
  .btn {
    margin-top: 15px;
  }
}

.articoli {
  .quantita {
    text-align: center;
  }
  .prezzo {
    text-align: right;    
  }
  .provvigione {
    text-align: right;
  }
  .created_at {
    text-align: right;
  }
  td.actions {
    width: 100px;
    padding-left: 0;
    padding-right: 0;
  }
  td.actions-mini {
    width: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  
}

.scaduto .prezzo{
  color: #B94A48;
}

#new_movimento,
.articolo form,
td.actions form {
  margin-bottom: 0;
}


