// Place all the styles related to the articoli controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #new_articolo {
//   // @include clearfix();
//   padding: 4px 8px;
//   border: 1px solid #BDBDBD;
// }

@import "colors";

a.show-hide {
  &:before {
    content: "nascondi";
  }
  &.collapsed:before {
    content: "mostra";
  }
}

.btn-articolo {
  display: inline;
  .btn {
    margin-top: 15px;
  }
}

.articolo {
  .created_at {
    text-align: right;
  }
}

.table {
  
  td.actions {
    width: 100px;
    padding-left: 0;
    padding-right: 0;
  }
  td.actions-mini {
    width: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  td.pezzi,
  td.prezzo,
  td.quantita,
  td.giacenza,
  td.rimborsi {
    text-align: right;
  }
  td.giacenza {
  font-style: bold;
  }
  td.quantita {
    display: none;
  }
  td.rimborsi {
    color: $redText;
  }
}


section.documento.carico td.giacenza {
  display: none;
}
section.documento.carico td.quantita {
  display: block;
}

.prezzo, .provvigione {
  min-width: 60px;
}

.scaduto .prezzo {
  color: #B94A48;
}

#new_movimento,
.articolo form,
td.actions form {
  margin-bottom: 0;
}


