// Place all the styles related to the articoli controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.articoli {
  .quantita {
    text-align: center;
  }
  .prezzo {
    text-align: right;    
  }
  .provvigione {
    text-align: right;
  }
  .created_at {
    text-align: right;
  }
}