// Place all the styles related to the cassa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error-inline.help-inline {
  color: #B94A48;
}

.movimento.scaduto {
  background-color: yellow;
}
.movimento.patate {
  background-color: red;
}

.movimento .prezzo {
  text-align: right;
}

.cassa-result {
 line-height: 28px
  
}

#new_documento {
  display: inline;
}