// Place all the styles related to the Clienti controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/border-radius";
@import "compass/css3/images";

.simple_form fieldset {
  padding: 20px 20px;
}

.new_articolo {
  .btn-aggiungi {
    margin-left: 10px;
  }
  .input-prepend {
    margin-left: 10px;
    input {
      text-align: right;
    }
  }
  .input-prepend.quantita {
    #articolo_quantita {
      width: 25px;
    }
  }
  .input-prepend.provvigione {
    select {
      width: 130px;
      text-align: right;
    }
  }
}

.articoli-attivi {
  @include border-radius(10px);
  @include background-image(linear-gradient(#FFFBC0, #F4FF99, #FFFBC0));
  padding: 10px 10px 0 10px;
  border-top: solid 1px #CCC;
  border-left: solid 1px #CCC;
  border-right: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  
  .empty-rows {
    text-align: center;
    padding: 10px;
  }
  #articoli-da-caricare {
    margin-bottom: 0;
    tr.table-footer td {
      line-height: 32px
    }
  }
}

.alert form {
  margin-top: 5px;
  margin-right: -22px;
}


