// Place all the styles related to the Clienti controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .simple_form input[type=text] {
//   width: 100%;
// }
// .simple_form select {
//   width: 100%;
// }

.simple_form fieldset {
  padding: 20px 20px;
}

.new_articolo {
  .btn-aggiungi {
    margin-left: 10px;
  }

  .input-prepend {
    margin-left: 10px;
    input {
      margin-left: -4px;
      text-align: right;
    }
  }
  
  .input-prepend.provvigione {
    select {
      margin-left: -4px;
      width: 70px;
      text-align: right;
    }
  }
}


