
// }
// 
// .navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
//   border-top-color: #555;
//   border-bottom-color: #555;
// }

.navbar .nav li.dropdown:hover .caret {
  border-top-color: white;
  border-bottom-color: white;  
} 


.navbar .navbar-inner {
  background: transparent;
  color: black;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
  padding: 10px 0 10px;
  border-width: 0;
}

footer .navbar-inner { 
  text-align: center;
  .nav {
    float: none;
    margin: auto;
  }
}
.navbar .nav.actions {
  margin-top: 20px;
}
.navbar .nav.actions > li > a {
  border: 2px solid #DDD;
  padding: 7px 16px 7px;
  border-radius: 4px;
  font-size: 11px;
  line-height: 22px;
  margin-left: 20px;
  text-transform: uppercase;
  text-shadow: 0;
}

footer ul {
  overflow: hidden;
  float: right;
  list-style-type: none;
  margin-bottom: 2px;
}
