@import "colors";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

.upload {
  margin-top: 10px;
  width: 100%;
  .progress {
    margin-bottom: 8px;
  }
}

ul#foto_articolo {

  li.photo,
  li.dropzone {
    float: right;
  }

  li.dropzone .inner {
    width: 80px;
    font-weight: bold;
    border-style: dotted; 
    border-color: $lightGray;
    border-width: 5px;
    @include border-radius(10px);
    color: $lightGray - 20;
    text-align: center;
    vertical-align: middle;
    padding: 1em 1em 1em 1em;
    margin-top: 1em;
    form {
      margin: 0;
    }
  }
}

ul.mosaic {
  margin-left: -10px;
  margin-right: -10px;
  li {
    margin-left: -4px;
    padding: 0;
  }
}
