= link_to image_tag('crocevia232x81.png'), root_path, :class => 'brand'

.pull-right
  %ul.nav
    %li 
      = link_to "Regolamento", regolamento_path
    - if user_signed_in?
      %li
        = link_to('Esci', destroy_user_session_path, :method=>'delete')
    / - else
    /       %li
    /         = link_to('Accedi', new_user_session_path)
    /     - if user_signed_in?
    /       %li
    /         = link_to('Modifica profilo', edit_user_registration_path)
    /       - if current_user.has_role? :admin
    /         %li
    /           = link_to('Admin', users_path)
    /     - else
    /       %li
    /         = link_to('Iscriviti!', new_user_registration_path)